# REST API

API kependekan dari Application Programming Interface merupakan sebuah perangkat lunak yang dapat menerima panggilan atau permintaan dari perangkat lunak lainnya seperti aplikasi dan website yang memberikan pelayanan. Dengan kata lain API merupakan sebuah perangkat lunak yang mengijinkan atau menghubungkan dua aplikasi. Tidak hanya itu API juga digunakan untuk membuat software dan aplikasi oleh para developer. 

API dapat anda temui dalam kehidupan sehari-hari seperti saat anda memesan hotel, mengirimkan pesan, memesan makanan secara online maupun ketika mengunduh sebuah software. Bagaimana hal tersebut terjadi? Prosesnya seperti ini, ketika anda menggunakan aplikasi maupun melakukan aktifitas tersebut, aplikasi terhubung ke internet dan mengirimkan data ke server. Setelah itu, data tersebut diambil dan diterjemahkan oleh server yang kemudian melakukan aksi yang diperlukan sebagai hasilnya kemudian dikirimkan kembali ke smartphone anda. Setelah menerima data tersebut, aplikasi menerjemahkannya lalu memberikan informasi yang anda inginkan dengan cara yang mudah dibaca. Dengan adanya API semua dapat berjalan dengan lancar dan memudahkan.

API membuat pemrograman menjadi lebih mudah dan mungkin. Seperti yang sudah disebutkan di atas, kebutuhan kita sebagai pelanggan dan khususnya bagi developer sangat dimudahkan dengan adanya API. Dengan melihat hal tersebut, peran dari API sendiri sangat berat terlebih untuk membuat tampilan sebuah aplikasi menjadi interaktif, mudah untuk digunakan, dan bersahabat untuk pengguna. Tidak hanya itu, API juga digunakan untuk berkomunikasi antara layanan-layanan. API memiliki peran yang sangat penting dalam teknologi.

https://netmonk.id/apa-itu-api/

Dalam contoh dunia nyata, API digunakan dalam aplikasi travel pemesanan penerbangan yang dimana aplikasi tersebut menghubungkan pengguna dengan berbagai macam maskapai. Ketika memesan penerbangan pengguna akan menentukan berbagai macam variabel seperti tujuan bandara, tanggal keberangkatan, jumlah penumpang, dan lainnya. Aplikasi travel akan menerima request tersebut dan berinteraksi dengan API dari setiap web database maskapai penerbangan yang ada dan memilih informasi berdasarkan variabel yang dimasukkan pengguna untuk kemudian memberikan respons untuk ditampilkan kembali ke pengguna.

Prinsip yang sama juga berlaku ketika terjadi interaksi antara database aplikasi dengan gawai atau komputer, masing-masing sistem tersebut memilik API yang memungkinkan untuk saling bertukar informasi. Dengan kata lain API adalah apa yang membawa informasi antara database aplikasi dan device pengguna untuk menyampaikan data dan menciptakan konektivitas antar sistem.
http://developer.erabelajar.com/api-application-programming-interface/

### **Free API List**
https://github.com/public-apis/public-apis

## 1. **Import Library**
Import beberapa library yang dibutuhkan. Library **request** untuk meminta data ke website penyedia data. Sedangkan, **pandas** untuk mengolah data.

In [3]:
import requests
import pandas as pd

## 2. **Request Data**

### ``API Covid-19``

Variabel ``url`` adalah halaman web yang menyediakan data (API). Variabel ``data`` adalah hasil _request_ dari url. Kita buka variabel ``data``, jika response 200 berarti kita sukses mengakses data. Jenis-jenis response respons HTTP dapat dibaca di laman berikut: https://developer.mozilla.org/id/docs/Web/HTTP/Status

In [2]:
url = 'https://api.covid19api.com/all'
data = requests.get(url)
data

## 3. **Mengakses & Mengolah Data**

In [3]:
# mengakses data yang sudah diubah menjadi data json
covid_json = data.json()

# mengubah data json
covid_df = pd.DataFrame(covid_json)

In [4]:
covid_df.head(3)

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-22T00:00:00Z
1,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-23T00:00:00Z
2,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-24T00:00:00Z

In [6]:
Indonesia = covid_df[covid_df['Country'] == 'Indonesia']
Indonesia.head(3)

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
19881,Indonesia,ID,,,,-0.79,113.92,0,0,0,0,2020-01-22T00:00:00Z
19882,Indonesia,ID,,,,-0.79,113.92,0,0,0,0,2020-01-23T00:00:00Z
19883,Indonesia,ID,,,,-0.79,113.92,0,0,0,0,2020-01-24T00:00:00Z

In [13]:
# 5 negara yang nilai recovery tertinggi
covid_df.groupby('Country').sum().sort_values('Recovered', ascending=False).head(5)

                          Confirmed   Deaths  Recovered     Active
Country
United States of America  166099644  9335238   15450004  141335887
Germany                    11810825   448692    8608163    2753970
China                      10134021   454227    7967605    1712243
Spain                      15490703  1708947    7875535    5906221
Italy                      15399969  2072220    6759649    6568100

### Menampilkan 10 negara yang death_percent (persentase kematian) tertinggi : Deaths / Confirmed

In [8]:
df_sum = covid_df.groupby('Country').sum()
df_sum['death_percent'] = df_sum['Deaths'] / df_sum['Confirmed']
df_sum.sort_values('death_percent', ascending=False).head(10)

                Confirmed   Deaths  Recovered    Active  death_percent
Country
Yemen                8786     1863        352      6571       0.212042
Belgium           3361168   505460     827283   2028425       0.150382
United Kingdom   13363775  1922494      62065  11379275       0.143859
France           11509336  1644315    3562403   6302618       0.142868
Italy            15399969  2072220    6759649   6568100       0.134560
Bahamas              5635      686       2072      2877       0.121739
Netherlands       2781439   334133      14386   2432920       0.120130
Hungary            198811    23633      69957    105221       0.118872
Sweden            1762521   197040     160063   1405418       0.111794
Spain            15490703  1708947    7875535   5906221       0.110321

# **Latihan REST API dari AirVisual**

## A. Mendapatkan data negara

In [14]:
key = '407af181-0e78-4539-b339-7744d2704ce6'
url_country = f'http://api.airvisual.com/v2/countries?key={key}'
data_country = requests.get(url_country)
data_country

In [7]:
# data_country.json()

## B. Mendapatkan Data Provinsi

In [16]:
country_name = 'Indonesia'
url_state = f'http://api.airvisual.com/v2/states?country={country_name}&key={key}'
data_state = requests.get(url_state)
data_state

In [8]:
data_state.json()

{'status': 'success',
 'data': [{'state': 'Bali'},
  {'state': 'East Java'},
  {'state': 'Jakarta'},
  {'state': 'Riau'},
  {'state': 'West Kalimantan'}]}

## C. Mendapatkan Data Kota

In [17]:
state_name = 'East Java'
url_city = f'http://api.airvisual.com/v2/cities?state={state_name}&country={country_name}&key={key}'
data_city = requests.get(url_city)
data_city.json()

{'status': 'success', 'data': [{'city': 'Malang'}, {'city': 'Surabaya'}]}

In [18]:
state_name2 = 'Bali'
url_city2 = f'http://api.airvisual.com/v2/cities?state={state_name}&country={country_name}&key={key}'
data_city2 = requests.get(url_city2)
data_city2.json()

{'status': 'success', 'data': [{'city': 'Malang'}, {'city': 'Surabaya'}]}

## D. Mendapatkan Data Spesifik tentang Kota tertentu

In [35]:
city = 'Surabaya'
url_spec_city = f'http://api.airvisual.com/v2/city?city={city}&state={state_name}&country={country_name}&key={key}'
data_spec_city = requests.get(url_spec_city)
data_spec_city.json()

{'status': 'success',
 'data': {'city': 'Surabaya',
  'state': 'East Java',
  'country': 'Indonesia',
  'location': {'type': 'Point', 'coordinates': [112.7946058, -7.2800904]},
  'current': {'weather': {'ts': '2020-06-14T13:00:00.000Z',
    'tp': 28,
    'pr': 1011,
    'hu': 75,
    'ws': 4.26,
    'wd': 107,
    'ic': '10n'},
   'pollution': {'ts': '2020-06-14T12:00:00.000Z',
    'aqius': 71,
    'mainus': 'p2',
    'aqicn': 31,
    'maincn': 'p2'}}}}

In [18]:
city2 = 'Jakarta'
state_name2 = 'Jakarta'
url_spec_city2 = f'http://api.airvisual.com/v2/city?city={city2}&state={state_name2}&country={country_name}&key={key}'
data_spec_city2 = requests.get(url_spec_city2)
data_spec_city2.json()

{'status': 'success',
 'data': {'city': 'Jakarta',
  'state': 'Jakarta',
  'country': 'Indonesia',
  'location': {'type': 'Point', 'coordinates': [106.79324, -6.236704]},
  'current': {'weather': {'ts': '2020-04-06T03:00:00.000Z',
    'tp': 29,
    'pr': 1011,
    'hu': 74,
    'ws': 4.6,
    'wd': 270,
    'ic': '02d'},
   'pollution': {'ts': '2020-04-06T04:00:00.000Z',
    'aqius': 67,
    'mainus': 'p2',
    'aqicn': 28,
    'maincn': 'p2'}}}}